.booking-background-image
{
    min-height: 100vh;
    background-image: url('/public/background_images/station2.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding: 70px 0;
}