.table-wrapper {
    max-width: 1200px;
    margin: 0 auto;
}
.create-button-wrapper {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 6px;
}
.light-blue-row {
    background-color: #e6f7ff; /* світло-блакитний */
}

.dark-blue-row {
    background-color: #bae7ff; /* трохи темніший блакитний */
}
