.table-wrapper {
    max-width: 1200px;
    margin: 0 auto;
}
.create-button-wrapper {
    margin-top: 10px;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 0px;
}
.light-blue-row {
    background-color: #e6f7ff; /* �����-��������� */
}

.dark-blue-row {
    background-color: #bae7ff; /* ����� ������� ��������� */
}
