.carriage-list {
    display: flex;
    flex-direction: column;
    gap: 5px;
    border-radius: 12px;
    background-color: rgb(255, 255, 255, 1);
    max-width: 1450px;
    margin: 0 auto;
    padding: 0px;
}
