.carriage-list {
    //display: flex;
    //flex-direction: column;
    //gap: 20px;
    //border-radius: 12px;
    background-color: rgb(255, 255, 255, 0.7);
    max-width: 1450px;
    margin: 0 auto;
    padding: 0px;
    border-radius: 12px;
}
