.carriage-type-card {
    margin-right: 10px;
    margin-left: 0;
    margin-top: 10px;
    flex: 1 1 300px;
    max-width: 375px;
    background-color: #fafafa;
}
.card-title-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.card-title-clickable {
    cursor: pointer;
    margin-bottom: 0 !important;
    color: #1677ff !important;
}
.card-title-clickable:hover {
    text-decoration: none;
    font-weight: bold;
}

.card-title-price {
    font-weight: bold;
    font-size: 16px;
    color: #333;
}

.subclass-tags-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 0;
}
.carriage-type-card .ant-card-body {
    padding: 0;
}
.carriage-type-card .ant-card-head {
    min-height: auto;
    padding-top: 10px;
    padding-bottom: 10px;
}