.carriage-type-card {
    margin-right: 10px;
    margin-left: 0;
    margin-top: 10px;
    flex: 1 1 300px;
    max-width: 375px;
    background-color: #fafafa; /* Легкий фон, "напівпрозорий" */
}

/* Стилізуємо кастомний заголовок, який ми створили */
.card-title-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.card-title-clickable {
    cursor: pointer;
    margin-bottom: 0 !important; /* Перебити стиль antd Title */
    color: #1677ff !important; /* Зробити схожим на посилання */
}
.card-title-clickable:hover {
    text-decoration: underline;
}

.card-title-price {
    font-weight: bold;
    font-size: 16px;
    color: #333;
}

/* Контейнер для тегів, замість .subclass-buttons */
.subclass-tags-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 0; /* Даємо простір між тегами */
}
.carriage-type-card .ant-card-body {
    padding: 0px;
}
.carriage-type-card .ant-card-head {
    min-height: auto; /* Прибирає мінімальну висоту */
    padding-top: 10px;    /* Зменшує верхній відступ */
    padding-bottom: 10px; /* Зменшує нижній відступ */
}