.train-card {
    background: white;
    border-radius: 12px;
    padding: 20px 30px;
    position: relative;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    margin-bottom: 30px;
    width: 100%;
    max-width: 1215px;
    font-family: sans-serif;
}

.train-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
    font-size: 10px;
}

.left-train-header-block{
    margin-top: -20px;
    margin-left: -30px
}

.train-number {
    color: #003366;
}
.train-quality-class {
    color: #003366;
    margin-left: -8px;
    margin-top: -20px;
}
.train-branded-name
{
    margin-left: -8px;
    margin-top: -20px;
}


.right-train-header-block{
    margin-top: -20px;
    margin-right: -38px
}
.is-fastest {
    color: #003366;
    margin-left: -8px;
    margin-top: -20px;
}
.is-cheapest {
    color: #003366;
    margin-left: -8px;
    margin-top: -20px;
}

.train-times {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
    margin-bottom: 0;
}

.time-block {
    text-align: center;
    width: 30%;
}
.time {
    margin-bottom: 0px;
    font-size: 24px;
    font-weight: bold;
}

.date {
    font-size: 16px;
    color: black;
    margin-bottom: 10px;
}

.station {
    margin-top: 4px;
    font-size: 18px;
    font-weight: bold;
}
.center-blocks {
    margin-top: 0;
    margin-bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 30%;
    text-align: center;
}
.duration-block {
    margin-top: -2px;
    margin-bottom: 2px;
    width: 30%;
    text-align: center;
    font-size: 17px;
    font-weight: bold;
    color: #003366;
}
.train-schedule-button
{
    margin-top: 0;
    margin-bottom: 0;
    font-weight: bold !important;
    margin-right: 220px;
}
.train-trip-map-button
{
    margin-top: 0;
    margin-bottom: 0;
    font-weight: bold !important;
    margin-left: 220px;
}
.route-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    margin-top: 0;
}

.full-route {
    background-color: #f1f1f1;
    padding: 6px 16px;
    border-radius: 20px;
    font-weight: 500;
    font-size: 16px;
}
.wagon-buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    margin-top: 10px;
    justify-content: center;
}
