.carriage-seat-layout {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0px;
    border-radius: 15px;
    background-color: white;
    justify-content: center;
    padding: 20px;
    padding-bottom: 85px;
    margin-left: 20px;
    border: 2px solid gray;
}
