.class-S.trip-segment .ant-timeline-item-tail,
.class-S.starting-trip-stop .ant-timeline-item-tail {
    border-left: 3px solid purple;
}
.class-A.trip-segment .ant-timeline-item-tail,
.class-A.starting-trip-stop .ant-timeline-item-tail {
    border-left: 3px solid red;
}
.class-B.trip-segment .ant-timeline-item-tail,
.class-B.starting-trip-stop .ant-timeline-item-tail {
    border-left: 3px solid #389e0d;
}
.class-C.trip-segment .ant-timeline-item-tail,
.class-C.starting-trip-stop .ant-timeline-item-tail {
    border-left: 3px solid blue;
}

.non-trip-segment .ant-timeline-item-tail {
    border-left: 3px dashed grey;
}
.final-trip-stop .ant-timeline-item-tail {
    border-left: 3px dashed grey;
}

.ant-timeline-item:first-child {
    padding-top: 7px;
}

.class-S.final-trip-stop .ant-timeline-item-head { background-color: purple; border: purple; border-radius: 50%; }
.class-A.final-trip-stop .ant-timeline-item-head { background-color: red; border: red; border-radius: 50%; }
.class-B.final-trip-stop .ant-timeline-item-head { background-color: #389e0d; border: #389e0d; border-radius: 50%; }
.class-C.final-trip-stop .ant-timeline-item-head { background-color: blue; border: blue; border-radius: 50%; }

.class-S.starting-trip-stop .ant-timeline-item-head { background-color: purple; border: 2px solid purple; border-radius: 50%; }
.class-A.starting-trip-stop .ant-timeline-item-head { background-color: red; border: 2px solid red; border-radius: 50%; }
.class-B.starting-trip-stop .ant-timeline-item-head { background-color: #389e0d; border: 2px solid #389e0d; border-radius: 50%; }
.class-C.starting-trip-stop .ant-timeline-item-head { background-color: blue; border: 2px solid blue; border-radius: 50%; }

.train-schedule-modal .ant-modal-content {
    max-height: 90vh;
    overflow-y: auto;
    overflow-x: hidden;
}

.train-schedule-modal .ant-modal-body {
    max-height: 70vh;
    overflow-y: auto;
    overflow-x: hidden;
}

.timeline-label {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    line-height: 16px;
    min-height: 36px;
    justify-content: center;
    position: relative;
    font-size: 13px;
    color: #555;
    font-weight: 500;
}

.arrival-time {
    margin-bottom: -10px;
    position: relative;
    top: -12px;
}

.timeline-header-container {
    display: flex;
    width: 100%;
    margin-bottom: 16px;
    box-sizing: border-box;
}

.timeline-header-label {
    width: 100px;
    flex-shrink: 0;
    text-align: right;
    padding-right: 10px;
    box-sizing: border-box;
}

.timeline-header-content-wrapper {
    flex-grow: 1;
    padding-left: 30px;
    box-sizing: border-box;
}

.timeline-stop-content {
    width: 100%;
    min-height: 18px;
    display: flex;
    align-items: center;
}

.train-schedule-modal .ant-timeline-item-content {
    margin-left: 30px !important;
}

.train-schedule-modal .ant-timeline {
    padding-left: 0 !important;
    margin-left: -287px !important;
}

.train-schedule-modal .ant-timeline.ant-timeline-label {
    margin-left: -20px;
}