.admin-login-page {
    display: flex;
    height: 100vh;
    width: 100%;
    overflow: hidden;
    background-color: #f0f2f5;
}


.admin-login-sidebar {
    flex: 1;
    background: linear-gradient(rgba(0, 21, 41, 0.8), rgba(0, 21, 41, 0.8)),
    url('/background_images/admin_login.jpeg');
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.admin-logo-section {
    text-align: center;
    margin-top: -3rem;
}

.admin-icon-logo {
    font-size: 64px;
    margin-bottom: 5px;
    color: #1890ff;
}

.admin-logo-text {
    color: white !important;
    margin: 0 !important;
    letter-spacing: 2px;
}

.admin-logo-subtext {
    color: rgba(255,255,255,0.7) !important;
    font-weight: bold;
    font-size: 16px;
}

.admin-login-content {
    width: 450px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: white;
    box-shadow: -10px 0 20px rgba(0,0,0,0.05);
}

.admin-login-box {
    width: 100%;
    padding: 0 50px;
}

.admin-login-btn {
    height: 50px;
    background: #001529 !important; /* Темно-синій "корпоративний" колір */
    border: none;
    font-weight: 600;
    margin-top: 10px;
}

.admin-login-btn:hover {
    background: #1890ff !important;
}

@media (max-width: 800px) {
    .admin-login-sidebar { display: none; }
    .admin-login-content { width: 100%; }
}
.admin-google-btn {
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    border-color: #d9d9d9;
    font-weight: 500;
    transition: all 0.3s;
}

.admin-google-btn:hover {
    background-color: #f5f5f5;
    border-color: #1890ff;
}

/* Додатково для Divider, щоб він не займав багато місця */
.ant-divider-horizontal.ant-divider-with-text {
    margin: 15px 0;
}

