/* Новий клас для головного контейнера, що тримає хедери і контент */
.main-layout-container {
    height: 100vh; /* Фіксуємо висоту на весь екран */
    display: flex;
    flex-direction: column; /* Елементи йдуть зверху вниз */
    overflow: hidden; /* Прибираємо скрол всієї сторінки */
}

.carriage-list-page {
    /* min-height: 100vh;  <-- ПРИБИРАЄМО або замінюємо */
    flex: 1; /* Займає весь вільний простір, що залишився після хедерів */
    overflow-y: auto; /* Вмикає скрол ТІЛЬКИ для цього блоку */

    /* Твої старі стилі фону залишаємо */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    padding: 40px 0 0px;
}