.main-layout-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.carriage-list-page {
    flex: 1;
    overflow-y: auto;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    padding: 40px 0 0px;
}
.loading-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 50px 0;
}

.loading-container .ant-spin-text {
    margin-top: 20px;
    font-size: 16px;
}

.empty-result-card {
    padding: 80px 40px;
    background: #ffffff;
    border-radius: 12px;
    border: 1px solid #f0f0f0;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.03);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 400px;
}