.home-container {
    position: relative;
    width: 100%;
    /* Прибираємо height: 700px; */
    min-height: 100vh; /* Займає мінімум всю висоту екрану */
    overflow-y: auto;  /* Дозволяємо вертикальну прокрутку */
    display: flex;
    flex-direction: column; /* Елементи йдуть один за одним зверху вниз */
}

